<%- include('header') %>

<%- include('mainheader') %>

<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h2><%= car.name%> jármű részletei</h2>
        </div>
        <div class="col-md-push-3 col-md-6 col-xs-12">
            <form method="post">
                <div class="form-group">
                    <label for="plate">Rendszám</label>
                    <input name="plate" type="text" class="form-control" id="plate" value="<%= car.plate%>" placeholder="Rendszam">
                </div>
                <div class="form-group">
                    <label for="start">Kölcsönzés kezdete</label>
                    <input name="start" type="text" class="form-control" id="start" value="<%= car.start%>" placeholder="Kölcsönzés kezdete">
                </div>
                <div class="form-group">
                    <label for="end">Kölcsönzés vége</label>
                    <input name="end" type="text" class="form-control" id="end" value="<%= car.end%>" placeholder="Kölcsönzés vége">
                </div>
                <div class="form-group">
                    <label for="currClient">Aktuális kölcsönző</label>
                    <select name="currClient" class="form-control" id="currClient">
                        <option <% if (car._currClient === 'undefined') { %> selected="selected" <%}%> value="0">Nincs kölcsönözve!</option>
                        <% clients.forEach(function(client){ %>
                        <option <% if (car._currClient !== 'undefined' && client._id.equals(car._currClient)) { %> selected="selected" <%}%> value="<%=client._id%>"><%= client.name%></option>
                         <%}); %>
                    </select>
                </div>
                <a href="/cars/mod/<%= car._id%>"><button class="btn btn-primary">Módosítás</button></a>
                <button onclick="history.go(-1)" class="btn btn-default">Mégsem</button>
            </form>

        </div>
    </div>
</div>

<%- include('footer') %>

